.order-total-wrapper {
  margin-top: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-total-wrapper > span {
  color: var(--Rose-500);
  font-family: "Red-Hat-SemiBold", sans-serif;
}
.order-total__value {
  font-family: "Red-Hat-Bold", sans-serif;
  font-size: 1.5rem;
  color: var(--Rose-900);
}
