.desserts-products h1 {
  font-family: "Red-Hat-Bold", sans-serif;
}
.desserts-wraper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .desserts-wraper {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .desserts-products {
    flex: 3;
  }
  /* .desserts-wraper {
    flex: 3;
  } */
}
@media screen and (min-width: 1440px) {
  /* .desserts-wraper {
    flex: 4;
  } */
}
